* {
  /* css reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 6vh 12vw; /*flexible margins according to viewport*/
  background-color: #eaeaea; /*page's background*/
  font-family: "Roboto", sans-serif;
  color: #39393A;
}
#content {
  /*recipe area background*/
  background-color: #ffffff;
  /*recipe area border*/
  border-radius: 10px;
}

.titles {
  color: #1b1b1b;
}

h1 {
  /*set recipe's title formatting*/
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image {
  /*set image to use all avaliable width and be centered in all axys*/
  display: block;
  object-fit: cover;
  object-position: center;
  /*set content's round borders*/
  border-radius: 10px;
  /*set content to centered*/
  margin: auto;
  margin-bottom: 0;
  /*set content size*/
  height: 270px;
  width: 900px;
  /*set content's border by restraining maximum width*/
  max-width: 95%;
}

#image-description {
  /*image desc's top margin, alignment & color*/
  height: auto;
  margin-top: 15px;
  text-align: right;
  color: #8F8F8F;
  font-size: 90%;
}

#blocks {
  line-height: 50px;
  /*center content*/
  text-align: center;
  /*margin top/sides/bottom*/
  margin: 15px auto 15px;
  /*set max-width the same as main image*/
  width: 900px;
  max-width: 95%;
}
.text {
  font-weight: 700;
  display: inline-block;
  /*vertical align text*/
  vertical-align: middle;
}
.division {
  border-radius: 10px;
  background-color: #eaeaea;
  /*set inside and outside distancing*/
  padding: 0px 3%;
  margin: auto 10px 10px;
  /*makes the multi line display keep all content together*/
  display: inline-block;
}
.icon {
  height: 25px;
  /*vertical align icons with text*/
  vertical-align: middle;
}

ul, ol{
  /*lists style*/
  font-size: 16px;
  margin: auto 50px;
  list-style-position: inside;
}

li {
  /*single list item line height*/
  line-height: 30px;
  /*distance between each item*/
  margin-bottom: 1em;
}

#info {
  padding-bottom: 30px;
  margin: auto 50px;
}

footer {
  color: #8F8F8F;
  text-align: center;
  margin: 50px auto;
  margin-bottom: -20px;
}
